.sendSmsModal {
  max-width: 40rem;
}

.velgMal {
  margin-bottom: 2rem;
}

.alleredeSendtAdvarselListe {
  margin: 0.5rem 0;
}

.alleredeSendtAdvarsel {
  margin: 1.5rem 0;
  padding-top: 1rem;
}

.kontortidAdvarsel {
  border: none;
  background: none;
  padding: 0;
  margin: 2rem 0;
}
