name: Bygg og Deploy Rekrutteringsbistand-frontend
on:
  push:
  workflow_dispatch: # Legger til mulighet for manuell kjøring

jobs:
  build-and-deploy:
    name: Next
    uses: navikt/toi-github-actions-workflows/.github/workflows/build-and-deploy-nextjs.yaml@main
    with:
      app_name: 'rekrutteringsbistand-frontend'
      dev-vars-path: 'nais/dev-gcp.json'
      deploy-to-dev-if-branch-name-is: 'deploy-script'
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
      actions: read # Nødvendig bare fordi Github-repoet ikke er public
